:root{
  --can-dark-blue: #26374a;
  --can-light-blue: #284162;
  --can-hover-blue: #0535d2;

  --can-bg: #FFFFFF;
  --can-grey-bg: #f5f5f5;

  --can-red: #dc3545;
  --can-info: #17a2b8;

  --can-info-border: #2392a9;
  --can-default-border: #8e8e8e;
  --can-danger-border: #c16171;
  --can-success-border: #629339;

}

h1#main-title{

  margin-top: 0 !important;

}

a.link-disabled{

  pointer-events: none !important;

}

.wy-nav-content{

  padding: 26px 52px !important;

}

.rst-content{

  margin-left: 20px;

}

.wy-nav-content-wrap{

  background: var(--can-grey-bg) !important;

}

nav.wy-nav-top{

  background: var(--can-dark-blue) !important;

}

nav.wy-nav-top a{

  display: none !important;

}

.wy-side-nav-search{

  background: var(--can-bg) !important;

}

.wy-nav-side{

  background: var(--can-dark-blue) !important;
  color: var(--can-bg) !important;

}

.wy-nav-side .wy-menu a{

  text-decoration: none;
  transition-duration: 0.325s;
  background: transparent !important;
  color: var(--can-bg) !important;

}

.wy-nav-side .wy-menu a:hover,
.wy-nav-side .wy-menu a:active,
.wy-nav-side .wy-menu a:focus{

  text-decoration: underline !important;

}

li.release-nav-item{

  position: relative;

}

li.release-nav-item.scroll-active{

  background: var(--can-light-blue) !important;

}

li.release-nav-item.scroll-active::after{

  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid var(--can-bg) !important;

}

a.btn{

  line-height: 1.75 !important;

}

a.btn:active{

  padding: 10px 14px !important;

}

a.btn-sm:active{

  padding: 5px 10px !important;

}

.project-panel .panel-body{

  position: relative;

}

span.release-hash-label{

  font-weight: 500;
  font-size: 80%;
  position: absolute;
  bottom: 8px;
  right: 8px;

}

div.release-wrapper h3{

  margin: 0 !important;

}

div.release-wrapper h4{

  margin: 0 !important;
  margin-bottom: 10px !important;

}

ul.changes-list{

  list-style: circle;
  padding-left: 15px;
  margin-bottom: 24px !important;

}

ul.changes-list li{

  list-style: circle;

}

ul.changes-list li p,
ul.changes-list li span{

  display: inline;

}

span.change-sub-note{

  font-weight: 600;
  margin-right: 6px;

}

span.change-canada-only{

  color: var(--can-red);

}

span.change-backport{

  color: var(--can-info);

}

a.headerlink{

  text-decoration: none !important;
  color: var(--can-light-blue) !important;
  transition-duration: 0.325s !important;
  font-size: 75% !important;
  margin-left: 8px !important;

}

a.headerlink:hover,
a.headerlink:active,
a.headerlink:focus{

  color: var(--can-hover-blue) !important;

}

.release-repo-title{

  position: relative;
  padding-right: 25px;

}

.release-repo-title a.headerlink{

  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);

}

.project-panel{

  position: relative;
  border-top-left-radius: 0;

}

.project-panel .panel-heading{

  border-top-left-radius: 0;

}

.project-panel-icon{

  position: absolute;
  top: -0.85px;
  left: -47px;
  max-height: 47px;
  min-height: 47px;
  height: 47px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: var(--can-grey-bg);
  border: 1px solid var(--can-default-border);

}

.project-panel.panel-info .project-panel-icon{

  border: 1px solid var(--can-info-border);

}

.project-panel.panel-danger .project-panel-icon{

  border: 1px solid var(--can-danger-border);

}

.project-panel.panel-success .project-panel-icon{

  border: 1px solid var(--can-success-border);

}

.project-panel.panel-default .project-panel-icon{

  border: 1px solid var(--can-default-border);

}

.project-panel-icon img{

  max-height: 100%;
  min-height: 100%;
  height: 100%;

}

@media all and (max-width: 500px){

  span.release-hash-label{

    display: none;

  }

}
