:root{
  --can-dark-blue: #26374a;
  --can-light-blue: #284162;
  --can-hover-blue: #0535d2;
  --can-bg: #FFFFFF;
  --can-grey-bg: #f5f5f5;
}

body .wy-nav-content-wrap{

  background: var(--can-grey-bg) !important;

}

body nav.wy-nav-top{

  background: var(--can-dark-blue) !important;

}

body nav.wy-nav-top a{

  display: none !important;

}

body .wy-side-nav-search{

  background: var(--can-bg) !important;

}

body .wy-nav-side{

  background: var(--can-dark-blue) !important;
  color: var(--can-bg) !important;

}

body .wy-nav-side .wy-menu a{

  text-decoration: none;
  transition-duration: 0.325s;
  background: transparent !important;
  color: var(--can-bg) !important;

}

body .wy-nav-side .wy-menu a:hover,
body .wy-nav-side .wy-menu a:active,
body .wy-nav-side .wy-menu a:focus{

  text-decoration: underline;

}

body div.version-pill{

  background: var(--can-dark-blue) !important;
  color: var(--can-bg) !important;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 12px 6px 14px;
  border-radius: 25px;
  display: inline-block;
  position: relative;

}

body div.version-pill::after{

  position: absolute;
  right: 15px;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid var(--can-bg);

  pointer-events: none !important;

}

form#version-select label{

  font-size: 12px;
  font-weight: 600;
  color: var(--can-bg) !important;
  margin: 0 !important;

}

form#version-select select#ver{

  background: var(--can-dark-blue) !important;
  border: none !important;
  border-radius: 0 !important;
  color: var(--can-bg) !important;
  font-size: 12px;
  font-weight: 600;
  box-shadow: none !important;
  outline: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  text-indent: 1px !important;
  text-overflow: '' !important;
  padding: 0 !important;
  width: 68px !important;
  padding-right: 15px !important;

}

div.repo-heading{

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;

}
